#userUploadContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    button {
        margin-top: 5px;
        padding: 3px 15px;
    }
}

.userUploadInputDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;

    input {
        border: 1px solid var(--fadedColor);
        border-radius: 7px;
        padding: 3px 7px;
        width: 250px;
    }
}

#userUploadUrlPreview {
    width: 230px;
    font-size: 14px;
    color: var(--textSecondary);
}