.userSetlist {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--fadedColor);
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--interactColor);

    button:hover {
        border-color: lightcoral;
    }
}
.userSetlist:hover {
    border-color: var(--textSecondary);
}

.userSetlistCombo {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.userSetlistKey {
    font-size: 18px;
    color: var(--textSecondary);
}