#setlistTopBarContent {
    background: top / cover no-repeat url("/HomeBG.jpg");
}

#setlistTopBar {
    padding: 20px;
    border-bottom: white solid 1px;
    width: 100%;
    background: linear-gradient(#000000AA, #252429DD);
}

#setlistTopTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#setlistTopTitle {
    font-family: "RobotoCondensed-SemiBold";
    font-size: 32px;
    animation: fadeInFromRight .3s .1s both;
}

#setlistTopRight {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 18px;
    text-align: right;
}