#setlistTopBar {
    padding: 20px;
    border-bottom: white solid 1px;
    width: 100%;
}

#setlistTopTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#setlistTopTitle {
    font-family: "RobotoCondensed-SemiBold";
    font-size: 32px;
}

#setlistTopRight {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 18px;
    text-align: right;
}