#songLeaderboardsContent {
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--fadedColor);
    min-height: 500px;
}

#songLeaderboardsTitleDiv {
    display: grid;
    cursor: pointer;
    border-bottom: 1px solid var(--fadedColor);
    grid-template-areas: "select";
    align-items: center;
}
#songLeaderboardsTitleDiv::after {
    display: inline-block;
    content: '';
    width: 10px;
    height: 9px;
    background-color: var(--textSecondary);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    grid-area: select;
    justify-self: end;
    margin-right: 20px;
}
#songLeaderboardsSelect {
    appearance: none;
    display: grid;
    justify-content: center;
    font-family: "RobotoCondensed-Medium";
    border: none;
    padding: 10px 0px;
    background: none;
    font-size: inherit;
    text-align: center;
    color: var(--textPrimary);
    transition: background-Color .15s;
    cursor: pointer;
    grid-area: select;

    option {
        font-size: 14px;
    }
}
#songLeaderboardsSelect:hover {
    background-color: var(--interactColor);
}


.songLeaderboardsNoScores {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: var(--textSecondary);
}

#songLeaderboardsList {
    display: flex;
    flex-direction: column;
    font-size: 16px;

    .songLeadEntry:not(:first-child) {
        border-top: 1px solid var(--fadedColor);
    }
}