#setlistListLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--fadederColor);
}

#setlistListLoadingText {
    color: var(--textSecondary);
    font-family: "RobotoCondensed-Medium";
    text-transform: uppercase;
}