#setlistList {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    font-family: "RobotoCondensed-SemiBold";

    .setlistListSong:not(:first-child) {
        border-top: 1px solid var(--fadedColor);
    }
}

.setlistListCategoryHeader {
    padding: 10px 15px;
    background-color: var(--interactColor);
}
.setlistListCategoryHeader:hover {
    filter: brightness(1.2);
}

.setlistListCategorySecon {
    font-family: "RobotoCondensed-Regular";
    font-style: oblique 10deg;
    color: var(--textSecondary);
    margin-left: 10px;
}