.setlistListSong {
    display: flex;
    align-items: center;
    padding: 6px 25px;
    background-color: var(--fadederColor);
    transition: background-color .2s;
    justify-content: space-between;
    gap: 5px;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: 0px;
    width: 100%;
    color: inherit;
    container-type: inline-size;
}
.setlistListSong:hover {
    background-color: var(--fadedColor);
    filter: none;

    .setlistListTexts, .setlistListSongIcon {
        translate: 7px 0px;
    }
}

.setlistListSongLeft {
    display: flex;
    align-items: center;
}

.setlistListTexts {
    transition: translate .15s;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
}

.setlistListSongIcon {
    transition: translate .15s;
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.setlistListSongSecon {
    font-family: "RobotoCondensed-Regular";
    font-style: oblique 10deg;
    color: var(--textSecondary);
    margin-left: 10px;
}