@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url('./Fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: "RobotoCondensed-Medium";
  src: url('./Fonts/RobotoCondensed-Medium.ttf');
}
@font-face {
  font-family: "RobotoCondensed-SemiBold";
  src: url('./Fonts/RobotoCondensed-SemiBold.ttf');
}
@font-face {
  font-family: "RobotoCondensed-Black";
  src: url('./Fonts/RobotoCondensed-Black.ttf');
}

:root {
  font-family: "RobotoCondensed-Regular";

  color-scheme: light dark;
  color: var(--textPrimary);
  background-color: #252429;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --textPrimary: #ffffffde;
  --textSecondary: #949494;
  --highlightColor: #2068c7;
  --fadedColor: #444444;
  --fadederColor: #161616;
  --interactColor: #2b2a33;

}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: var(--interactColor);
  border: 2px solid var(--fadedColor);
  border-radius: 7px;
  padding: 3px 8px;
  transition: border-color .15s, filter .2s;
  color: var(--textPrimary);
}
button:hover {
  border-color: var(--textSecondary);
  filter: brightness(1.2);
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}