.languageSelectSelect {
    background: none;
    background-color: var(--interactColor);
    border: 1px solid var(--fadedColor);
    border-radius: 7px;
    padding: 5px 8px;
    width: 125px;
    height: 30px;
}
.languageSelectSelect:hover {
    border-color: var(--textSecondary);
}