#setlistContent {
    display: flex;
    flex-direction: column;
}


/** Top Bar */

#setlistTopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: white solid 1px;
}

#setlistTopTitle {
    font-family: "RobotoCondensed-SemiBold";
    font-size: 32px;
}

#setlistTopRight {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 18px;
}


/** Song List */

#setlistList {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    font-family: "RobotoCondensed-SemiBold";

    .setlistListSong {
        border-bottom: 1px solid var(--textSecondary);
    }
}

.setlistListCategoryHeader {
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    background-color: var(--interactColor);
}
.setlistListCategoryHeader:hover {
    filter: brightness(1.2);
}

.setlistListCategorySecon {
    font-family: "RobotoCondensed-Regular";
    font-style: oblique 10deg;
    color: var(--textSecondary);
}