.setlistListSong {
    display: flex;
    padding: 6px 25px;
    background-color: var(--fadederColor);
    transition: background-color .2s;
}
.setlistListSong:hover {
    background-color: var(--fadedColor);

    .setlistListTexts, .setlistListSongIcon {
        translate: 7px 0px;
    }
}

.setlistListTexts {
    transition: translate .15s;
    gap: 10px;
}

.setlistListSongIcon {
    transition: translate .15s;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.setlistListSongSecon {
    font-family: "RobotoCondensed-Regular";
    font-style: oblique 10deg;
    color: var(--textSecondary);
    margin-left: 10px;
}